<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.user.lskiller">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.view.activity.TimelineActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--OAuthActivity-->
        <activity
            android:name=".presentation.view.activity.TwitterOAuthActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="twitter"
                    android:scheme="gabu"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.view.activity.TweetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".presentation.view.activity.ReplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".presentation.view.activity.AboutAppActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".presentation.view.activity.ImageViewerActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".presentation.view.activity.ProfileActivity"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>